# Скомпилированные классы и папки сборки
*.class
out/
target/

# Настройки IntelliJ IDEA (личные)
.idea/
*.iml
*.iws
*.ipr

# Системные файлы Mac/Linux
.DS_Store

# Логи и временные файлы
*.log
hehe.txt
test.txt

# Артефакты сборки (твой готовый джарник тоже не нужен в репо)
/out/artifacts/

# Игнорируем все JAR файлы...
*.jar

# ...НО! Разрешаем JAR файлы внутри папки lib (это наша библиотека Gson)
!lib/*.jar